$primary-color: #95d7ec;
$secondry-color: #84becf;
*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    vertical-align: top;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
}


// 圖片相關樣式
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
}

.text-center{
    text-align: center;
}

// 區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}


@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 0px 15px;
    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
   
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 0px 15px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}


// 左邊界位移
@media (min-width:768px){
    @for $i from 1 through 12 {
        
        .offset-md-#{$i}{
            --ml-num: calc(12 / #{$i});
            margin-left: calc(100% / var(--ml-num));
        }
    }
} //ml 768 end

// $i index
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 10 {
    .fz-#{$i}{
        font-size: $i*1em;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}
@media (min-width:768px){
    .mb-md-0{
        margin-bottom: 0;
    }
}
// =========================================
// ================= Header ================
// =========================================

header{
    padding: 20px 0px;
    // background-color: lightblue;
}
header>.container>.row{
    justify-content: space-between;
}
// .flex-space-around{

// }
// .flex-space-between{

// }
// 小於等於767 手機
@media (max-width: 767px){
    header>.container>.row{
        align-items: center;
    }
    header{
        position: relative;
        
    }
    nav{
        position: absolute;
        width: 100%;
        top:76px;
        left:0;
        display: none;
    }
    nav.active{
        display: block;
    }
    nav li{
        
        line-height: 60px;
    }
    nav a{
        display: block;
        text-align: center;
        background-color: rgb(255, 229, 204);
        color:red;
    }
    .submenu{
        display: none;
    }
    .submenu.active{
        display: block;
    }
    .icon-menu{
        background-color: lightgray;
        width: 60px;
        height: 60px;
        // background-image: url('../images/logo.svg');
    }
}
// 大於等於768 平板~PC~寬
@media (min-width:768px){
    // .icon-menu{
    //     display: none;
    // }
    .display-md-none{
        display: none;
    }
    .display-md-block{
        display: block;
    }
    .display-md-flex{
        display: flex;
    }
    header>.container>.row{
        align-items: center;
    }
    nav>ul{
        display: flex;
    }
    nav>ul>li{
        margin-right: 40px;
        position: relative;
        line-height: 40px;
    }
    .submenu{
        display: none;
        position: absolute;
        top:40px;
        left:0;
        width: 100%;
        background-color: $primary-color;
        padding:10px;
    }
    .submenu.active{
        display: block;
    }
}






// =========================================
// ================= Banner ================
// =========================================

.banner{
    background-color: pink;
    // 放上圖片後高度
    // height: 400px;

    // background-image: url('../images/banner.jpg');
    // background-size: 100%;
    // background-attachment: fixed;
}




// =========================================
// ================= News ================
// =========================================

.news-section{
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: right 10px bottom 10px;
    background-image: url('../images/banner.jpg');
    background-color: $primary-color;
    // background:red;
    // height: 400px;
    // padding-top: 80px;
    padding:80px 0px;
}
.news-section li{
    border-bottom:1px solid black;
    line-height: 34px;
    margin-bottom: 20px;
}
.news-section li span{
    margin-right: 10px;
}

.news-section ul{
    margin-top:10px;
}

.news-tag{
    background-color: white;
    padding:5px;
    border-radius: 3px;
}



@media (min-width:768px){
    .news-section ul{
        margin-left: 10%;
        width: 90%;
    }
}


// =========================================
// ================= product ================
// =========================================



.product-section-1{
    padding:80px 0;
    // background-color: lightgoldenrodyellow;
    // height: 400px;
}
.product-section-1 .row{
    align-items: center;
}
.product-title{
    font-size: 1.3em;
    font-weight: 900;
    margin-bottom: 20px;
}



.product-section-2{
    padding:80px 0;
    background-color: $primary-color;
    // height: 400px;
}
.product-section-2 .row{
    align-items: center;
}


// =========================================
// ================= footer ================
// =========================================


footer{
    padding:80px 0;
    background-color: $secondry-color;
    // height: 400px;
}

// =========================================
// ================= breadcrumb ================
// =========================================
.breadcrumb{
    display: flex;
}
.breadcrumb li{
    margin-right: 10px;
}
.breadcrumb li::after{
    content: '>';
    margin-left: 10px;
}
.breadcrumb li:last-child::after{
    content: '';
}

// =========================================
// ================= form ================
// =========================================
.form{
    margin-top: 80px;
    margin-bottom: 80px;
    // background-color: pink;
}
.input-group{
    display: flex;
    margin-bottom: 10px;
}
label{
    display: block;
    width: 20%;
}
input{
    border:none;
    border-radius: 4px;
    border:1px solid gray;
    line-height: 30px;
}
input[type="text"]{
    width: 80%;
}
.flex-space-between{
    justify-content: space-between;
}
.w-48{
    width: 48%;
}
.btn-primary{
    background-color: $primary-color;
    border: none;
    cursor: pointer;
}
.btn-secondry{
    border: none;
    background-color: $secondry-color;
    cursor: pointer;
}


.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.deco-1{
    right:0px;
    top:50%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: lightgreen;
}

.deco-2{
    left:0px;
    top:40%;
    transform: translateY(-50%);
    width: 100px;
    height: 100px;
    background-color: lightcoral;
}
.page-top{
    position: fixed;
    // right:10px;
    bottom:10px;
    background-color: green;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    display: block;
    text-align: center;
    color:white;
    // display: none;
    right:-60px;
    transform: rotate(0deg);
    transition: all .3s;
}
.page-top.active{
    // display: block;
    right:10px;
    transform: rotate(360deg);
}