$primary-color: rgb(0, 0, 0);

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: rgb(167, 174, 247);
}

header {
background-color: rgba(175, 223, 124, 0.6);
}

header>.container>h1{
    padding-top: 20px;
}

header>.container>h1>a{
    color:$primary-color;
}

header>.container>nav>ul{
    display: flex;
    // justify-content: space-between;
}

header>.container>nav>ul>li{
    margin-right: 30px;
}

header>.container>nav>ul>li>a{
    line-height: 60px;
color: $primary-color;
font-size: 1.2em;
letter-spacing: 3px;
}