$primary-color:#bdb3a7;

*{
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
body{
    margin: 0;
}

.container{
    margin: auto;
    width: 90%;
    max-width: 1140px;
    // background-color: orange;
}

// ====================================
// 頁首
// ====================================

header{
    background-color: #1f1f20;
}
header>.container h1{
    padding-top:20px;
}
header>.container h1>a{
    color:$primary-color;
}

header>.container nav>ul{
    display: flex;
    /* justify-content: space-between; */
}
// header>.container nav>ul>li{
//     // 若置中的話不寫下面這一行
//     // margin-right: 30px;
// }
header>.container nav>ul>li>a{
    line-height: 60px;
    color: $primary-color;
    font-size: 1.2em;
    letter-spacing: 2px;
}
@media (min-width:768px){
    header>.container nav{
        width: 100%;
    }
    header>.container nav>ul>li{
        position: relative;
    }
    header>.container nav>ul>li:hover .submenu{
        display: block;
    }
    // 置中logo start
    header{
        position: relative;
    }
    header > .container h1{
        position: absolute;
        left:50%;
        // margin-left: -102px;
        transform: translateX(-50%);
        // background-color: green;
        line-height: 60px;
        padding-top: 0px;
    }
    header nav{
        display: flex;
        justify-content: center;
    }
    header>.container nav>ul>li{
        margin-left:20px;
        // margin-right: 20px;
    }
    header>.container nav>ul>li:nth-child(2){
        margin-right: 250px;
    }


    // 置中logo end

    .submenu{
        position: absolute;
        background-color: $primary-color;
        width: 160%;
        left: 0px;
        // bottom:0px;
        top:60px;
        padding:10px;
        display: none;
    }
    .submenu>li{
        line-height: 40px;
    }
    .submenu>li>a{
        color:black;
    }

}//min-width 768 end

// 針對超過1200視窗寬的優化 start
// @media (min-width:1200px){
//     header>.container nav>ul>li{
//         margin-left:30px;
//         margin-right: 30px;
//     }
//     header>.container nav>ul>li:nth-child(2){
//         margin-right: 300px;
//     }
// }
// 針對超過1200視窗寬的優化 end

// ====================================
// 內容區塊
// ====================================

// 圖片相關樣式
.img-fluid{
    width: 100%;
}
.img-rounded{
    border-radius: 8px;
}
.img-circle{
    border-radius: 100%;
}

// 文字相關樣式
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
// 區塊相關樣式
.row{
    display: flex;
    flex-wrap: wrap; /*換行*/
}



@for $i from 1 through 12 {
    .col-#{$i}{
        --num: calc(12 / #{$i});
        width: calc(100% / var(--num) - 30px);
        margin: 0px 15px 40px 15px;
    }
}

@media (min-width:768px){
    @for $i from 1 through 12 {
        .col-md-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 768px end

@media (min-width:1200px){
    @for $i from 1 through 12 {
        .col-lg-#{$i}{
            --num: calc(12 / #{$i});
            width: calc(100% / var(--num) - 30px);
            margin: 0px 15px 40px 15px;
        }
    }
} // 1200px end

@media (min-width:768px){
    .order-md-1{
        order:-1;
    }
}


.title a{
    color: black;
    font-size: 1.5em;
    font-weight: 700;
}
.date{
    color: $primary-color;
}
h2{
    font-size: 2em;
    margin: 60px auto 30px auto;
}

// ====================================
// 頁尾區塊
// ====================================
footer{
    background: $primary-color;
    padding: 40px 0 40px 0;
}
dt{
    font-size: 1.2em;
    margin-bottom: 10px;
}
dd{
    margin-bottom: 4px;
}
dd>a{
    color: #696363;
}

.breadcrumb{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}
.breadcrumb a{
    color:black;
}
.w-20{
    width: 20%;
}
.w-80{
    width: 80%;
}

.btn-primary{
    background-color: $primary-color;
    padding: 15px;
    color:black;
    display: block;
    margin-bottom:5px;
    border-radius: 4px;
    text-align: center;
}
.btn-primary:hover{
    background: black;
    color:$primary-color;
}
.text-primary{
    color: $primary-color;
}
.img-wrap{
    display: block;
    position: relative;
    // background-color: red;
    margin-bottom: 10px;
}
.img-overlay{
    overflow: hidden;
    border-radius: 8px;
}
.img-wrap img{
    vertical-align: top;
    transition: all .5s;
}
.img-wrap img:hover{
    transform: scale(1.5);
}
.icon-new{
    position: absolute;
    width: 50px;
    line-height: 50px;
    color:white;
    border-radius: 100%;
    left:-25px;
    top:-25px;
    // 下方正中間
    // bottom:-25px;
    // left:50%;
    // margin-left: -25px;
    background-color: green;
}

.flex-space-between{
    justify-content: space-between;
}
// 小於767px以下執行 start 
@media (max-width:767px){
    // h1{
    //     // width: 85%;
    // }
    .icon-menu{
        width: 15%;
        display: block;
        background-color: $primary-color;
        color:black;
        line-height: 60px;
        text-align: center;
    }
    header{
        position: relative;
    }
    header > .container nav{
        width: 100%;
        position: absolute;
        top:60px;
        background-color: black;
        // display: none;
        // 需要蓋板的話打開以下程式碼
        // position: fixed;
        // top:0px;
        // height: 100vh;
        // z-index: 999;

        // 需要從上往下出現導覽時打開以下程式碼
        // height:0px;
        // overflow: hidden;
    }
    nav{
        // viewport width
        left:0px;
        // 這一行等二層選單做完之後在打開
        left:-100vw;
        transition: all .3s;
    }
    // 之後搭配javascript要改寫選取器的寫法
    // 20220627 修改後的類別為nav.active
    nav.active{
        left:0px;

        // 需要從上往下出現導覽時打開以下程式碼
        // height: 244px;
    }
    header > .container nav.active{
        display: block;
    }
    header > .container nav > ul{
        display: block;
    }
    header > .container nav > ul > li{
        text-align: center;
        width: 100%;
        border-bottom:1px solid $primary-color;
    }
    header > .container nav > ul > li > a{
        display: block;
    }
    
    .submenu{
        display: none;
        background-color: $primary-color;
    }
    header > .container nav > ul > li:hover .submenu{
        display: block;
    }
    .submenu>li{
        line-height: 60px;
        border-bottom:1px solid black;
    }
    .submenu>li>a{
        color:black;
        display: block;
    }
} // max-width 767 end

// 超過768px以上執行 start 
@media (min-width:768px){
    .icon-menu{
        display: none;
    }
} // min-width 768 end 

// $i index
// for迴圈
// from through 從 1 開始到 3
@for $i from 1 through 10 {
    .fz-#{$i}{
        font-size: $i*1em;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i}{
        margin-bottom: $i * 1em;
    }
}

// // 四欄式
// .col-3 {
//     width: calc(100% / 4 - 30px);
//     margin: 10px 15px 40px 15px;
//     // background-color: rgba(44, 109, 175, 0.267);
//     // 上右下左
// }

// // // 三欄式
// // .col-4 {
// //     // width: 33.33333%;
// //     width: calc(100% / 3 - 30px);
// //     margin: 0px 15px 40px 15px;
// //     // 上右下左
// // }

// // // 二欄式
// // .col-6 {
// //     // width: 33.33333%;
// //     width: calc(100% / 2 - 30px);
// //     margin: 0px 15px 40px 15px;
// //     // 上右下左
// // }

// // .col-8 {
// //     // width: 33.33333%;
// //     width: calc(100% / 1.5 - 30px);
// //     margin: 0px 15px 40px 15px;
// //     // 上右下左
// // }

// // // 二欄式
// // .col-9 {
// //     // width: 33.33333%;
// //     width: calc(100% / 1.33333 - 30px);
// //     margin: 10px 15px 30px 15px;
// //     padding-top: 40px;
// //     background-color: beige;
// //     border-radius: 15px;
// //     // 上右下左
// // }
