// 設定變數$開頭
$primary-color:#293029;

body{
    font-family: Impact, "微軟正黑體";
    color: $primary-color;
}

.btn-primary{
    background-color: $primary-color;
    color: white;
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    letter-spacing: 2px;
}