* {
    margin: 0;
    padding: 0;
  }
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    width: auto;
    /* color: rgb(64, 61, 61); */
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: sans-serif;
  }

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3115;
    background-size: cover;
    color: white;
}

.about {
    height: 300vh;
    display: flex;
}

.about-title {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0!important;
    text-align: right;
}

section>.about-pages>nav{
    display: block;
}

.about-pages {
    height: 100vh;
    width: 80%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.about-pages div>p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

.about-pages div:nth-child(1) {
    background-color: rgb(56, 134, 89);
}

.about-pages div:nth-child(2) {
    background-color: rgb(255, 10, 96);
}

.about-pages div:nth-child(3) {
    background-color: rgb(0, 255, 195);
}

/* footer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
} */



/* .block{
    width: 30%;
    height: 1000px;
}
.redBlock{
   width: 0;
    height: 200px;
    background: red;
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100;
    transition: 1s;
    margin: 0 auto;
}
 
.redBlock.show{
    opacity: 1;
    width: 100%;
} */