* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    width: auto;
    /* color: rgb(247, 0, 0); */
}

h1 {
    font-size: 2.75em;
    text-align: left;
    font-weight: normal;
}

p {
    display: block;
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: sans-serif;
}

h2 {
    margin: 0 0 0.5em 0;
}

img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-overlay {
    overflow: hidden;
}

.img-fluid {
    width: 100%;
}

/* img:hover {
    transform: scale(1.3);
    transition: transform 0.8s 0s;
    opacity: 0.8;
} */

.arrow {
    position: absolute;
    transform: translate(-50%, -50%);
    bottom: 0;
    /* justify-content: center;
    align-items: center; */
    padding: 6em 3em 0em 5em;
    max-width: 100%;
}

.arrow span {
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid rgb(245, 199, 2);
    border-right: 5px solid rgb(245, 199, 2);
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -.4s;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: rotate(45deg) translate(-20px, -20px);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.bg {
    max-width: 50%;
    height: auto;
    position: absolute;
    margin: 0;
    right: 0;
    top: 5;
    /* z-index: -1; */
}

.title {
    position: relative;
    z-index: 1;
    /* left: 25%; */
    /* right: 20%; */
}

/* @keyframes move {
    0% {
        margin-top: 0;
    }

    50% {
        margin-top: 100px;
    }

    100% {
        margin-top: 0;
    }
} */


/*  */

section {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
}

.features>section>.img-overlay>a>img:hover {
    transform: scale(1.3);
    transition: transform 0.8s 0s;
}

.img-fluid>img:hover {
    transform: scale(1.3);
    transition: transform 0.8s 0s;
    opacity: 0.8;
}

.img-grid>a>img:hover {
    transform: scale(1.3);
    transition: transform 0.8s 0s;
    opacity: 0.8;
}


header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
    position: relative;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.about {
    /* height: 100vh; */
    display: flex;
}

.about-title {
    width: 25%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
    margin: 0 !important;
    text-align: right;
    cursor: pointer;
    z-index: 10000;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
}


/* section nav {
    display: block;
} */

section nav>ul {
    display: block;
    /* background-color: rgb(234, 4, 4); */
}

section nav>ul>li {
    border-bottom: 1px;
    letter-spacing: 0.25em;
    /* color: green; */
    font-size: 15px;
    margin: 26px;
}

section nav>ul>li>a {
    display: block;
    color: rgb(252, 240, 212);
    font-weight: bold;
    padding: 1em 0;
    border-bottom: 2px solid rgb(245, 199, 2);
}

section nav>ul>li>a:hover {
    opacity: 75%;
}

section nav>ul>li.active {
    transition: ease-in-out;
}

section nav>ul>li.active a {
    transition: ease-in-out;
}

/* section nav>ul>li>a:before {
    border-bottom: 2px solid rgb(202, 255, 245);
}

section nav>ul>li>a:after {
    border-bottom: 2px solid rgb(189, 151, 54);
} */


/* 2 */
.about-pages {
    /* height: 100vh; */
    width: 80%;
    position: relative;
}

.about-pages,
.about-title {
    margin-left: 22em;
}

.about-pages>section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around;
    align-items: center; */
    color: white;
}


.about-pages section>h2 {
    display: block;
    right: 150em;
    /* margin: 0 0 0.5em 0; */
}

.about-pages section p {
    width: 100%;
    font-size: 1.1em;
    line-height: 30px;
    margin: 0 0 2em 0;
    letter-spacing: 2px;
}

#about {
    background-color: rgb(37, 37, 37);
}

#cover {
    background-color: rgb(37, 37, 37);
}

/* 1 */
section>.about-pages .inner {
    padding: 3em 3em 0em 3em;
    max-width: 100%;
}

section>.about-pages .inner-b {
    padding: 0em 5em 0em 3em;
    max-width: 100%;
}

.profile {
    display: flex;
    color: rgb(241, 237, 228);
}

.font-s {
    font-size: 1.1em;
    line-height: 30px;
}

section>.about-pages .profile {
    padding: 3em 3em 3em 3em;
    max-width: 100%;
    justify-content: center;
}

#web {
    background-color: rgb(37, 37, 37);
}

#graphic {
    background-color: rgb(37, 37, 37);
}

#contact {
    background-color: rgb(37, 37, 37);
    height: 70vh;
}

/* web page */

.features>section {
    display: flex;
    flex-wrap: wrap;
    /* padding: 2.5em 3em 1em 1.5em; */
    max-width: 100%;
    /* width: 65em; */
}

/* .features>section img{
    padding: 2px 8px 3px 0px;
    margin: 0px 15px 0px 15px;
} */

.col-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 20px 15px;
}

.col-4>a img:hover {
    opacity: 0.8;
    transition: opacity 0.4s ease-in-out;
}

.col-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
}

.col-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 0px 15px 0px 15px;
}

.col-6b {
    --num: calc(12 / 6);
    width: calc(55% / var(--num) - 30px);
    margin: 0px 15px 0px 30px;
}

.max-w200 {
    max-width: 200px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-200 {
    margin-top: 200px;
}

@media (min-width: 767px) {
    section>.about-pages .inner {
        width: 65em;
    }

    section>.about-pages .inner-b {
        width: 65em;
    }

    .features>section {
        padding: 1em 3em 1em 1.5em;
        width: 65em;
    }

    .img-grid {
        grid-auto-rows: var(--row-height);
    }

    .over-lg {
        display: none;
    }

    .col-sm-12a {
        display: none;
    }

}

.h2-c {
    text-align: center;
    margin: 0 0 0 0;
}

.p-c {
    text-align: center;



}


@media (max-width: 738px) {
    .col-sm-12 {
        --num: calc(12 / 12);
        width: calc(100% / var(--num) - 30px);
        /* margin: 0px 0px 0px 0px; */
    }

    .col-sm-12a {
        --num: calc(12 / 12);
        width: calc(100% / var(--num) - 5px);
        /* margin: 0px 0px 0px 0px; */
    }
}

@media (max-width: 736px) {
    img {
        width: 100%;
    }

    .about-title {
        display: none;
    }

    .about-pages {
        width: 100%;
    }

    #web,
    #graphic,
    #about {
        height: auto;
    }

    .features>section {
        margin: auto;
        padding: auto;
    }

    section>.about-pages .inner {
        padding: 3em 2em 1em 2em;
    }

    .sm-4 {
        padding-bottom: 40px;
    }

    .about-pages,
    .about-title {
        margin-left: 0em;
    }


}

.bg-cover {
    background-position: center center;
    background-size: cover;
}

.img-grid {
    --gap: 10px;
    --num-cols: 4;
    --row-height: 200px;

    box-sizing: border-box;
    padding: 4.2em 3em 0em 3em;

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    /* grid-auto-rows: var(--row-height); */
    gap: var(--gap);
}

.img-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-grid-col-2 {
    grid-column: span 2;
}

.img-grid-row-2 {
    grid-row: span 2;
}

.img-grid div {
    padding: 2em 3em 0em 3em;
}

/* Anything udner 1024px */
@media screen and (max-width: 736px) {
    .img-grid {
        --num-cols: 2;
        --row-height: 200px;
        padding: 4em 2em 0em 2em;
    }


    .over-sm {
        display: none;
    }

    .img-grid div {
        padding: 2em 0em 1em 0em;
    }

    .col-6b,
    .col-6 {
        display: none;
    }

    .profile {
        display: flex;
        flex-wrap: wrap;
    }

    section>.about-pages .profile {
        /* text-align: center; */
        max-width: 100%;
    }

    h1 {
        font-size: 2em;
    }

    .bg {
        opacity: 0.5;
    }

    .arrow {
        padding: 0em 0em 2em 0em;
    }

    .about-title,
    .about-pages {
        padding-top: 0em;
    }

}

@media screen and (max-width: 1280px) {

    #cover {
        background-attachment: scroll;
    }

    .about-title {
        height: 3.5em;
        left: 0;
        line-height: 0em;
        overflow: hidden;
        padding: 0;
        text-align: center;
        top: 0;
        width: 100%;
    }

    section nav>ul {
        height: inherit;
        line-height: inherit;
    }

    section nav>ul {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        height: inherit;
        line-height: inherit;
        margin: 0;
    }

    .about-pages {
        /* height: 100vh; */
        width: 100%;
        position: relative;
    }

    .about-title,
    .about-pages {
        margin-left: 0;
        /* padding-top: 3.5em; */
    }

    section>.about-pages .inner {
        padding: 4em 3em 0em 3em;
        max-width: 100%;
    }

    section>.about-pages .profile {
        padding: 4em 3em 0em 3em;

    }
    
}

