* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    width: auto;
    /* color: rgb(247, 0, 0); */
}

body {
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family: sans-serif;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3115;
    background-size: cover;
    color: white;
}

.about {
    height: 100vh;
    display: flex;
}

.about-title {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin: 0 !important;
    text-align: right;
    cursor: pointer;
    z-index: 10000;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
}


/* section nav {
    display: block;
} */

section nav>ul {
    display: block;
    /* background-color: rgb(234, 4, 4); */
}

section nav>ul>li {
    border-bottom: 1px;
    letter-spacing: 0.25em;
    color: green;
    font-size: 15px;
    margin: 26px;
}

section nav>ul>li>a {
    display: block;
    color: white;
    font-weight: bold;
    padding: 1em 0;
    border-bottom: 2px solid rgb(202, 255, 245);
}

section nav>ul>li>a:hover {
    opacity: 75%;
}

section nav>ul>li.active {
    background-color: green;
    /* transition: 0.3 ease background-color; */
}

section nav>ul>li.active a {
    color: lightblue;
}

/* section nav>ul>li>a:before {
    border-bottom: 2px solid rgb(202, 255, 245);
}

section nav>ul>li>a:after {
    border-bottom: 2px solid rgb(189, 151, 54);
} */

/* 2 */
.about-pages {
    height: 100vh;
    width: 80%;
}

.about-pages div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.about-pages div>p {
    width: 80%;
    font-size: 18px;
    line-height: 30px;
}

#about {
    background-color: red;
}

#web {
    background-color: blue;
}

#contact {
    background-color: yellow;
}

/* .about-pages div:nth-child(1) {
    background-color: rgb(56, 134, 89);
}

.about-pages div:nth-child(2) {
    background-color: rgb(255, 10, 96);
}

.about-pages div:nth-child(3) {
    background-color: rgb(0, 255, 195);
}

.about-pages div:nth-child(4) {
    background-color: rgb(220, 153, 161);
} */




/* footer{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
} */



/* .block{
    width: 30%;
    height: 1000px;
}
.redBlock{
   width: 0;
    height: 200px;
    background: red;
    font-size: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 100;
    transition: 1s;
    margin: 0 auto;
}
 
.redBlock.show{
    opacity: 1;
    width: 100%;
} */