* {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: rgba(175, 223, 124, 0.6);
}

header > .container > h1 {
  padding-top: 40px;
}

header > .container > h1 > a {
  color: black;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: black;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.tittle a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.date {
  color: black;
}

div > h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 10px 15px 40px 15px;
}

.col-4 {
  width: calc(100% / 3 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-6 {
  width: calc(100% / 2 - 30px);
  margin: 0px 15px 40px 15px;
}

.col-1 {
  background-color: rgba(102, 144, 58, 0.6);
  width: 200px;
  margin: 20px 15px 40px 200px;
}

footer {
  background-color: black;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: bisque;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: white;
}

.copyright {
  color: bisque;
}

div > ul {
  background-color: aqua;
  width: 50px;
  margin: 20px 0px 40px 0px;
  text-align: center;
}

div > ul > li {
  box-sizing: border-box;
  margin-bottom: 30px;
}

div > ul > li > a {
  color: black;
}