* {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1140px;
}

header {
  background-color: rgba(175, 223, 124, 0.6);
}

header > .container > h1 {
  padding-top: 40px;
}

header > .container > h1 > a {
  color: black;
}

header > .container > nav > ul {
  display: flex;
}

header > .container > nav > ul > li {
  margin-right: 30px;
}

header > .container > nav > ul > li > a {
  line-height: 60px;
  color: black;
  font-size: 1.2em;
  letter-spacing: 3px;
}

.img-fluid {
  width: 100%;
}

.img-rounded {
  border-radius: 8px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.tittle {
  font-size: 12px;
}

.tittle a {
  color: black;
  font-size: 1.5em;
  font-weight: 700;
}

.tittle-left {
  text-align: left;
  margin-left: 100px;
}

.date {
  color: black;
}

div h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-3 {
  width: calc(100% / 4 - 30px);
  margin: 10px 15px 40px 15px;
}

.col-1 {
  --num: calc(12 / 1);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-2 {
  --num: calc(12 / 2);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-3 {
  --num: calc(12 / 3);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-4 {
  --num: calc(12 / 4);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-5 {
  --num: calc(12 / 5);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-6 {
  --num: calc(12 / 6);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-7 {
  --num: calc(12 / 7);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-8 {
  --num: calc(12 / 8);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-9 {
  --num: calc(12 / 9);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-10 {
  --num: calc(12 / 10);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-11 {
  --num: calc(12 / 11);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

.col-12 {
  --num: calc(12 / 12);
  width: calc(100% / var(--num) - 30px);
  margin: 10px 15px 40px 15px;
}

@media (min-width: 768px) {
  .col-md-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-md-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    --num: calc(12 / 1);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-2 {
    --num: calc(12 / 2);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-3 {
    --num: calc(12 / 3);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-4 {
    --num: calc(12 / 4);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-5 {
    --num: calc(12 / 5);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-6 {
    --num: calc(12 / 6);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-7 {
    --num: calc(12 / 7);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-8 {
    --num: calc(12 / 8);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-9 {
    --num: calc(12 / 9);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-10 {
    --num: calc(12 / 10);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-11 {
    --num: calc(12 / 11);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }

  .col-lg-12 {
    --num: calc(12 / 12);
    width: calc(100% / var(--num) - 30px);
    margin: 10px 15px 40px 15px;
  }
}
@media (min-width: 768px) {
  .order-md-1 {
    order: -1;
  }
}
.col-4 > img:hover {
  opacity: 30%;
}

footer {
  background-color: black;
  padding: 40px 0 40px 0;
}

dt {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: bisque;
}

dd {
  margin-bottom: 4px;
}

dd > a {
  color: white;
}

.copyright {
  color: bisque;
}

.breadcrumb {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.breadcrumb a {
  color: black;
}

.btn-primary {
  background-color: black;
  padding: 15px;
  color: white;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 15px;
}

main > div > div > a > img:hover {
  opacity: 0.5;
}

aside a:hover {
  background-color: rgba(78, 96, 59, 0.6);
}

.text-primary {
  color: black;
}

.img-wrap {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.img-overlay {
  overflow: hidden;
  border-radius: 8px;
}

.img-wrap img {
  vertical-align: top;
  transition: all 0.5s;
}

.img-wrap img:hover {
  transform: scale(1.5);
}

.icon-new {
  position: absolute;
  width: 80px;
  height: 20px;
  line-height: 20px;
  color: black;
  border-radius: 15px;
  background-color: #fefb30;
  top: -5px;
  left: -10px;
}

@media (min-width: 768px) {
  .icon-menu {
    display: none;
  }
}
@media (max-width: 767px) {
  header {
    height: 80px;
  }

  h1 {
    float: left;
    margin-top: -20px;
  }

  .icon-menu {
    float: right;
    width: 15%;
    display: block;
    background-color: black;
    color: white;
    line-height: 30px;
    height: 30px;
    margin-top: 25px;
    font-size: 18px;
    text-align: center;
    border-radius: 15px;
  }

  header > .container > nav {
    width: 100%;
    float: left;
  }

  header > .container > nav > ul {
    display: block;
  }

  header > .container > nav.active {
    display: none;
  }

  header > .container > nav > ul > li {
    text-align: center;
    width: 100%;
  }

  header > .container > nav > ul > li > a {
    display: block;
  }

  .overflow-hidden {
    overflow: hidden;
  }
}
.fz-1 {
  font-size: 1em;
}

.fz-2 {
  font-size: 2em;
}

.fz-3 {
  font-size: 3em;
}

.fz-4 {
  font-size: 4em;
}

.fz-5 {
  font-size: 5em;
}

.fz-6 {
  font-size: 6em;
}

.fz-7 {
  font-size: 7em;
}

.fz-8 {
  font-size: 8em;
}

.fz-9 {
  font-size: 9em;
}

.fz-10 {
  font-size: 10em;
}