doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title 關於我們|EASY WASH
        link(rel='stylesheet', href='public/css/easy-wash-styles.css')
    body
        header
            div.container
                .row
                    h1
                        a.logo(href="easy-wash.html") easy wash
                            //- img
                    a#btn-nav-switch.icon-menu.display-md-none(href="javascript:;") menu
                    nav
                        ul
                            li
                                a(href="about.html") 關於我們
                            li
                                a(href="javascript:;") 產品列表
                                ul.submenu
                                    li
                                        a(href="product-list.html") 分類1
                                    li
                                        a(href="product-list.html") 分類2
                            li
                                a(href="testimonial.html") 顧客心得
                            li
                                a(href="faq.html") 常見問題

        section
            .container
                .row
                    ul.col-12.breadcrumb.mb-4
                        li
                            a(href="easy-wash.html") 首頁
                        li
                            span 關於我們
                    .col-12.mb-2
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorem rem aspernatur dolor debitis molestiae delectus, tenetur dignissimos recusandae quas voluptates, omnis nobis odit necessitatibus ea nostrum iure animi sed!
                    .col-12.col-md-4.mb-2
                        img(class="img-fluid" src="public/images/banner.jpg", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorem rem aspernatur dolor debitis molestiae delectus, tenetur dignissimos recusandae quas voluptates, omnis nobis odit necessitatibus ea nostrum iure animi sed!
                    .col-12.col-md-4.mb-2 
                        img(class="img-fluid" src="public/images/banner.jpg", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorem rem aspernatur dolor debitis molestiae delectus, tenetur dignissimos recusandae quas voluptates, omnis nobis odit necessitatibus ea nostrum iure animi sed!
                    .col-12.col-md-4.mb-2 
                        img(class="img-fluid" src="public/images/banner.jpg", alt="")
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet dolorem rem aspernatur dolor debitis molestiae delectus, tenetur dignissimos recusandae quas voluptates, omnis nobis odit necessitatibus ea nostrum iure animi sed!
               
        footer
            .container
                .row
                    .col-12.col-md-3.mb-1 phone
                    .col-12.col-md-3.mb-1 addres
                    .col-12.col-md-3.mb-1 line
                    .col-12.col-md-3.mb-1 fax
                    .col-12.text-center.copyright copyright


        script(src="https://code.jquery.com/jquery-3.6.0.min.js",integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin="anonymous")