doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title zeyln&apos;s13
  link(rel='stylesheet' href='public/css/styles.css')
// header>.container>h1{ZYL}+nav>ul>li*4>a[href"#"]{mu1}
header 
  .container.overflow-hidden
    a.icon-menu(href="#") menu
    h1
      a(href='index.html') zeyuln's portfolio
    nav.active
      ul
        li
          a(href='') 關於我
        li
          a(href='design-list.html') 平面設計
        li
          a(href='') 網頁設計
        li
          a(href='') 聯絡我
// header end
// content start
.container
  .row
    ul.col-12.breadcrumb
      li
        a(href='index.html') &#x9996;&#x9801;
      |                 &nbsp; &#xFF0F; &nbsp;
      li
        a(href='#') &#x5E73;&#x9762;&#x8A2D;&#x8A08;
    aside.col-12.col-md-3.col-lg-2
      // ul>li*4>a.btn-primary{分類$$}
      ul
        li
          a.btn-primary(href='') &#x6D77;&#x5831;&#x8A2D;&#x8A08;
        li
          a.btn-primary(href='') &#x5305;&#x88DD;&#x8A2D;&#x8A08;
        li
          a.btn-primary(href='') &#x5B57;&#x9AD4;&#x8A2D;&#x8A08;
        li
          a.btn-primary(href='') &#x54C1;&#x724C;&#x8A2D;&#x8A08;
    main.col-12.col-md-4.col-lg-10
      .row
        // .col4*6>img+.img-fluid+a{商品$}
        // .col4*6>img+.img-fluid+a{商品$}
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/csd.png' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/txl.png' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/face.jpg' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/lin.png' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/seeu.jpg' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
        .col-12.col-md-4.text-center
          a.img-wrap(href='#')
            .img-overlay
              img.img-fluid.img-rounded(src='public/images/shu.png' alt='')
            span.icon-new NEW
          a.text-primary(href='#') &#x4F5C;&#x54C1;&#x6A19;&#x984C;1
        // work end
        // work start
// content end
// footer>.container>dl*5>dt+dd*4>a{項目$$}^^^p.copyright.text-center{copyright}
footer
  .container.row
    dl.col-3
      dt A
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt B
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt C
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt D
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
  p.copyright.text-center &#x5B78;&#x7FD2;&#x4F7F;&#x7528; &#x975E;&#x5546;&#x696D;&#x7528;&#x9014;
