doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title zeyuln&apos;s
  link(rel='stylesheet' href='public/css/styles.css')
// header>.container>h1{ZYL}+nav>ul>li*4>a[href"#"]{mu1}
header
  .container.overflow-hidden
    a.icon-menu(href='#') menu 
    h1
      a(href='index.html') zeyuln's portfolio
    nav.active
      ul
        li
          a(href='') 關於我
        li
          a(href='design-list.html') 平面設計
        li
          a(href='') 網頁設計
        li
          a(href='') 聯絡我
// header end
// content start
.container
  .row
    ul.col-12.breadcrumb
      li
        a(href='index.html') 首頁&nbsp;／&nbsp;
      li
        a(href='design-list.html') 平面設計&nbsp;／&nbsp;
      li
        a(href='#') 來點乾脆
  .container
        .row
            .col-12 關於我
            .col-12.col-md-6
                img.img-fluid.img-rounded(src="public/images/face.jpg", alt="")
            .col-12.col-md-6 02
        .row 
            .col-12.col-md-6
                img.img-fluid.img-rounded(src="public/images/face.jpg", alt="")
            .col-12.col-md-6.order-md-1 04

footer
  .container.row
    dl.col-3
      dt A
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt B
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt C
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
    dl.col-3
      dt D
      dd
        a(href='#') &#x9805;&#x76EE;01
      dd
        a(href='#') &#x9805;&#x76EE;02
      dd
        a(href='#') &#x9805;&#x76EE;03
      dd
        a(href='#') &#x9805;&#x76EE;04
  p.copyright.text-center &#x5B78;&#x7FD2;&#x7528;