doctype html
head
  title 林哲佑
  link(rel='stylesheet', href='public/css/styles.css')
header
  .container
    h1
      a(href='#') zeyuln's portfolio
    nav
      ul
        li
          a(href='') 關於我
        li
          a(href='design-list.html') 平面設計
        li
          a(href='') 網頁設計
        li
          a(href='') 聯絡我
    .container
        .row 
            .col-6 
                p 左
            .col-6 
                p 右
    footer 
    .container copyright... 